body {
    background: #f5f5f5;
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 0 10px #aaa;
}

h1 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    background: #0c7bff;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #005fe0;
}

#resultado {
    margin-top: 20px;
    padding: 15px;
    background: #e8f0ff;
    border-radius: 10px;
}